<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <h1 class="standard-top-offset mb-4">Admin Ratings</h1>

  <%= form_tag admin_ratings_path, method: :get do %>
    <%= render partial: "/shared/hidden_search_fields" %>
    <div class="row sm:grid-cols-2 mb-4">
      <div class="col">
        <div class="form-row">
          <%= label_tag :query %>
          <%= text_field_tag :query, params[:query], class: "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="form-row-btn sm:mt-8">
          <%= submit_tag "search", class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: "/shared/current_header", locals: {collection: @ratings, render_period: true} %>
</div>

<%= render partial: "/admin/ratings/table", locals: {ratings: @ratings} %>

<div class="mt-4">
  <%= render partial: "tranzito_utils/pagination", locals: {collection: @ratings, skip_total: true} %>
</div>
