<% topic_investigation ||= @topic_investigation %>
<% editing_topic_investigation = topic_investigation.id.present? %>
<% form_url = editing_topic_investigation ? admin_topic_investigation_url(topic_investigation) : admin_topic_investigations_url %>
<%= form_with(model: topic_investigation, url: form_url, method: (editing_topic_investigation ? :patch : :post), class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: @topic_investigation, name: "Topic Investigation"} %>
  <%= f.hidden_field :timezone, class: "hiddenFieldTimezone" %>
  <div class="row sm:grid-cols-2">
    <div class="col">
      <div class="form-row">
        <%= f.label :topic_name, "Topic" %>
        <%= f.text_field :topic_name, class: "form-control", required: true %>
      </div>
    </div>
  </div>
  <div class="row sm:grid-cols-2 mb-8">
    <div class="col">
      <div class="form-row">
        <%= f.label :start_at_in_zone, "Start" %>
        <%= f.datetime_local_field :start_at_in_zone, step: 3600, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-row">
        <%= f.label :end_at_in_zone, "End" %>
        <%= f.datetime_local_field :end_at_in_zone, step: 3600, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-row-btn">
    <%= f.submit "save", class: "btn btn-success" %>
  </div>
<% end %>
