<div class="standard-top-offset small-width-container-padded">
  <% if current_user&.admin_access? %>
    <p class="-mt-3 mb-7 text-right">
      <%= link_to "quiz admin", admin_quiz_path(@quiz), class: "text-sm less-strong" %>
    </p>
  <% end %>

  <h1>
    From <%= quiz_title_display(@quiz) %>
  </h1>

  <% @quiz_questions.each do |quiz_question| %>
    <div class="mt-8 pb-4" id="<%= quiz_question.anchor_id %>">
      <% if quiz_question.text.present? %>
        <h4 class=""><%= quiz_question.text.html_safe %></h4>
      <% end %>
      <% quiz_question_response = @quiz_question_responses.where(quiz_question_id: quiz_question.id).first %>
      <% quiz_question.quiz_question_answers.each do |quiz_question_answer| %>
        <div class="mt-4 p-2">
          <% if quiz_question_response.present? %>
            <%= quiz_question_responded_display(quiz_question_response, quiz_question_answer) %>
          <% else %>
            <%= button_to(quiz_question_answer.text, quiz_path(@quiz.to_param, quiz_question_answer_id: quiz_question_answer.id, anchor: quiz_question.anchor_id), method: :patch, class: "link block w-full text-left p-4") %>
          <% end %>
        </div>
      <% end %>
      <% if quiz_question_response.present? %>
        <p class="text-right opacity-50 text-sm">
          quality
          <%= display_icon("quality_high") %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<hr class="standard-top-offset" />

<p class="my-4 text-center">
  <span class="text-lg font-semibold"><%= link_to "Read the article:", @quiz.citation.url %></span>
  <%= link_to @quiz.citation.title, @quiz.citation.url %>
</p>
