<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, "data-turbo" => false}) do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: resource, name: "account"} %>
  <h2 class="mt-3">
    Edit account
  </h2>
  <div class="form-row">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="form-row">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, required: true, class: "form-control" %>
  </div>
  <div class="form-row">
    <%= f.label :password do %>
      Password
      <small class="less-strong">
        <%= User.password_length.min %> characters minimum
        <em>(leave blank if you don't want to change it)</em>
      </small>
    <% end %>

    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>
  <div class="form-row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <div class="form-row mt-3">
    <%= f.label :current_password do %>
      Current password
      <small class="less-strong">(we need your current password to confirm your changes)</small>
    <% end %>
    <%= f.password_field :current_password, required: true, autocomplete: "current-password", class: "form-control" %>
  </div>
  <div class="form-row-btn">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
<script type="text/javascript">
  console.log("Your API token is:")
  console.log("<%= current_user.api_token %>")
</script>
