<% skip_sortable = true %>
<% update_links = @viewing_current_user && current_user.account_private %>
<div class="full-screen-table">
  <table class="table table-sm">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "created_at", "Started following", skip_sortable: skip_sortable %>
        </th>
        <th>
          <%= sortable "user_id", skip_sortable: skip_sortable %>
        </th>
        <% if update_links %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% user_followings.each do |user_following| %>
        <% follower = user_following.user %>
        <tr>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= user_following.id %></code><% end %>
            <small class="convertTime"><%= l(user_following.created_at, format: :convert_time) %></small>
          </td>
          <td>
            <%= link_to follower&.username, reviews_path(user: follower) %>
          </td>
          <% if update_links %>
            <td class="text-right">
              <% if user_following.approved %>
                <%= link_to "un-approve", unapprove_following_path(follower.to_param), data: {turbo_method: :post}, class: "less-strong" %>
              <% else %>
                <%= link_to "approve", approve_following_path(follower.to_param), data: {turbo_method: :post} %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
