<%= content_for :main_wrapper_class, "small-width-padded-container" %>
<% if @user == current_user %>
  <div>This is your account.</div>
  <ul class="">
    <li class="block mt-1"><%= link_to "Your reviews", reviews_path(user: @user.to_param) %></li>
    <li class="block mt-1"><%= link_to "Edit your account", edit_u_path(@user.to_param) %></li>
  </ul>
  <hr class="mt-1 mb-6">
<% end %>
<p class="mt-3">
  <strong class="block">User</strong>
  <%= @user.username %>
</p>
<p class="mt-3">
  <strong class="block">Created</strong>
  <span class="convertTime"><%= l(@user.created_at, format: :convert_time) %></span>
</p>
<% if @user.about.present? %>
  <p class="mt-3">
    <strong class="block">About</strong>
    <%= @user.about %>
  </p>
<% end %>
<p class="mt-8">
  <%= @user.total_kudos || 0 %>
  kudos
  <span class="ml-2">
    (<%= @user.total_kudos_yesterday %> today  |
    <%= @user.total_kudos_yesterday %> yesterday)
  </span>
</p>
<p class="mt-1">
  <% reviews_count = @user.reviews.count %>
  <% if @user.reviews_public %>
    <%= link_to reviews_path(user: @user.to_param) do %>
      <%= admin_number_display(reviews_count) %>
      <%= "review".pluralize(reviews_count) %>
    <% end %>
  <% else %>
    <%= admin_number_display(reviews_count) %>
    <%= "review".pluralize(reviews_count) %> <span class="less-strong">(not public)</span>
  <% end %>
</p>
