<h1 class="mt-10">Browser extensions</h1>
<div class="row grid-cols-3 mt-10 extension-links">
  <div class="col text-center">
    <%= link_to "https://apps.apple.com/us/app/convus/id6446099805" do %>
      <h2 class="mt-5">Safari</h2>
      <%= image_tag "safari_logo.svg", alt: "Safari logo" %>
    <% end %>
  </div>
  <div class="col text-center">
    <%= link_to "#" do %>
      <h2 class="mt-5">Chrome</h2>
      <%= image_tag "chrome_logo.svg", alt: "Chrome logo" %>
    <% end %>
  </div>
  <div class="col text-center">
    <%= link_to "https://addons.mozilla.org/en-US/firefox/addon/convus/" do %>
      <h2 class="mt-5">Firefox</h2>
      <%= image_tag "firefox_logo.svg", alt: "Firefox logo" %>
    <% end %>
  </div>
</div>
