<h1 class="standard-top-offset">Browser extensions</h1>
<h2 class="my-4">Easily submit reviews of websites</h2>
<div class="row sm:grid-cols-3 mt-10 justify-items-center">
  <div class="col w-full max-w-xs mt-10">
    <%= link_to "https://apps.apple.com/us/app/convus/id6446099805", class: "block text-center" do %>
      <h2>Safari</h2>
      <%= image_tag "safari_logo.svg", alt: "Safari logo", class: "block mx-auto w-1/2 mt-4" %>
    <% end %>
    <p class="text-sm text-center">
      <span class="block mt-4">On iOS, after downloading the extension, enable it in Settings > Safari > Extensions.</span>
      <span class="block mt-2">
        Access the extension by tapping on <%= image_tag("screenshots/ios-aa-searchbar.png", class: "inline-block w-4") %> the left side of the search field, then <%= link_to "tapping the extension", image_path("screenshots/ios-select-extension.png"), target: "_blank"%>
      </span>
    </p>
  </div>
  <div class="col w-full max-w-xs mt-10">
    <%= link_to "https://chrome.google.com/webstore/detail/convus-reviews/acbdomolfffoefmammccipemndnlmhbe", class: "block text-center" do %>
      <h2>Chrome</h2>
      <%= image_tag "chrome_logo.svg", alt: "Chrome logo", class: "block mx-auto w-1/2 mt-4" %>
    <% end %>
    <p class="text-sm text-center">
      <span class="block mt-4">Also the extension for <%= link_to "Arc", "https://arc.net/" %></span>
    </p>
  </div>
  <div class="col w-full max-w-xs mt-10">
    <%= link_to "https://addons.mozilla.org/en-US/firefox/addon/convus/", class: "block text-center" do %>
      <h2>Firefox</h2>
      <%= image_tag "firefox_logo.svg", alt: "Firefox logo", class: "block mx-auto w-1/2 mt-4" %>
    <% end %>
  </div>
</div>

<div class="mt-8">
  <h3 class="mb-2">How to use the browser extension:</h3>
  <ol class="list-decimal mt-3 mb-6 pl-5">
    <li class="mb-3">Read something on the internet</li>
    <li class="mb-3">
      Open the Convus browser extension
      <div class="landing-list-screenshots">
        <%= link_to image_tag("screenshots/ios-open-extension.png"), image_path("screenshots/ios-open-extension.png") %>
        <%= link_to image_tag("screenshots/ios-click-extension.png"), image_path("screenshots/ios-click-extension.png"), class: "ml-3" %>
      </div>
    </li>
    <li class="mb-3">
      Check the boxes to review
      <div class="landing-list-screenshots">
        <%= link_to image_tag("screenshots/ios-extension-review.png"), image_path("screenshots/ios-extension-review.png") %>
      </div>
    </li>
  </ol>
</div>
