<h1 class="standard-top-offset mb-4">
  Edit Topic Review
  <small class="less-strong"><%= link_to "non admin view", review_path(@topic_review.id) %></small>
</h1>
<h3 class="mb-4">Topic: <%= link_to @topic_review.topic.name, edit_admin_topic_path(@topic_review.topic.to_param) %></h3>

<%= render partial: "/admin/topic_reviews/form" %>

<h3 class="standard-top-offset mb-2">Topic Review's Citations</h3>

<div class="row">
  <%= render partial: "tranzito_utils/pagination", locals: {collection: @topic_review_citations, name: "Topic Review Citation"} %>
</div>
<p class="mb-4 -mt-4 less-strong ml-2">
  <% TopicReviewCitation.ranks.keys.each do |rank| %>
    <span class="inline-block mr-2">
      <strong><%= admin_number_display(@topic_review_votes.where(rank: rank).count) %></strong>
      <%= TopicReviewVote.rank_humanized(rank) %>
    </span>
  <% end %>
</p>

<%= render partial: "/admin/topic_review_citations/table", locals: {topic_review_citations: @topic_review_citations, skip_sortable: true} %>

<p class="standard-top-offset mb-2">
  <strong><%= admin_number_display(@topic_review_votes.count) %></strong>
  <%= "Rating".pluralize(@topic_review_votes.count) %>
  <% if user_subject.present? %>
    for <%= user_subject.username %>
    <small class="less-strong">
      show ratings for
      <%= link_to "all users", url_for(sortable_params.merge(user: nil)) %>
    </small>
  <% end %>
</p>

<%= render partial: "/admin/topic_review_votes/table", locals: {topic_review_votes: @topic_review_votes, skip_article: false} %>

<div class="mb-4"></div>
