<% quiz ||= @quiz %>
<% editing_quiz = quiz.id.present? %>
<% form_url = editing_quiz ? admin_quiz_url(quiz) : admin_quizzes_url %>

<%= form_with(model: quiz, url: form_url, method: (editing_quiz ? :patch : :post), class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: quiz, name: "Quiz"} %>

  <%= f.hidden_field :citation_id %>

  <div class="form-row mt-4">
    <%= f.label :input_text %>
    <%# row_count = quiz.input_text.present? ? quiz.input_text.split("\n").count : 4 %>
    <%= f.text_area :input_text, class: "form-control", required: true, rows: 15 %>
  </div>
  <p>Text should have at least one step, and be formatted like this:</p>

  <code class="code-small">
    <pre>Step 1: {question text}

True option: {true option text}

False option: {false option text}</pre>
  </code>

  <div class="form-row-btn">
    <%= f.submit "save", class: "btn" %>
  </div>
<% end %>
