<% quiz ||= @quiz %>
<% citation = quiz.citation %>
<% form_type = @form_type || "admin_entry" %>
<% editing_quiz = quiz.id.present? %>
<% form_url = editing_quiz ? admin_quiz_url(quiz) : admin_quizzes_url %>
<% quiz.input_text&.strip! # Unclear why there is extra space at the start %>

<%= form_with(model: quiz, url: form_url, method: (editing_quiz ? :patch : :post), class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: quiz, name: "Quiz"} %>
  <%= f.hidden_field :source, value: form_type %>
  <%= f.hidden_field :citation_id %>

  <% if form_type == "admin_entry" %>
    <div class="form-row mb-4">
      <%= f.label :subject do %>
        Quiz Subject
        <small class="less-strong">
          <% if citation.manually_updated_subject? %>
            The citation's subject was manually updated in admin, which overrides the quiz subject.
          <% else %>
            updating this will also update the citation subject
          <% end %>
        </small>
      <% end %>
      <%= f.text_field :subject, class: "form-control", required: true, disabled: citation.manually_updated_subject? %>
    </div>
    <h2>Manually enter text to generate quiz questions</h2>
    <div class="row sm:grid-cols-3 mt-4 mb-2">
      <div class="col col-span-2">
        <div class="form-row">
          <%# Remove the subject block from the input_text, because there is a subject field %>
          <% quiz.input_text = ClaudeParser::SecondPrompt.quiz_prompt_full_texts(quiz.input_text, citation).first %>
          <%= f.text_area :input_text, class: "form-control", required: true, rows: 15 %>
        </div>
      </div>
      <div class="col pt-1 sm:pt-3">
        <p class="text-sm">Text should have at least one step, and be formatted like this:</p>

        <code class="code-small block mt-2">
          Step 1: {question text}<br />
          <br />
          True option: {true option text}<br />
          <br />
          False option: {false option text}
        </code>
      </div>
    </div>
  <% else %>
    <h2>Input the prompt for Claude to generate the quiz</h2>
    <div class="form-row">
      <%= f.text_area :prompt_text, value: prompt_text_area_text(@quiz.prompt_text), class: "form-control", required: true, rows: 15 %>
      <p class="text-sm -mt-1 mb-3 less-strong">
        <code>[ARTICLE_TEXT]</code> will be replaced with the actual article text. Separating the prompt with <code>---</code> makes a separate request to Claude.
      </p>
    </div>
  <% end %>

  <div class="form-row-btn">
    <%= f.submit "save", class: "btn" %>
  </div>

  <% if form_type != "admin_entry" %>
    <div class="form-row">
      <%= f.label :prompt_params_text do %>
        Additional options for Claude. <strong>Must be valid JSON</strong>
        <small class="less-strong">
          e.g. <code class="text-xs">{"temperature": 0.7}</code>
        </small>
      <% end %>
      <%= f.text_area :prompt_params_text, class: "form-control", rows: 2 %>
    </div>
  <% end %>
<% end %>

<% if form_type != "admin_entry" && editing_quiz %>
  <div class="mt-8 mb-4">
    <span class="less-strong">Previous prompt response:</span>
    <textarea class="form-control text-sm" disabled=true rows="15"><%= @quiz.input_text %></textarea>
  </div>
<% end %>
