<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <h1 class="standard-top-offset">
    Edit Quiz
    <small class="less-strong">for citation:</small>
  </h1>
</div>

<%= render partial: "/admin/citations/table", locals: {citations: [@citation], skip_sortable: true} %>

<div class="large-width-container">
  <%= render partial: "form", locals: {quiz: @quiz} %>
</div>

<div class="large-width-container standard-top-offset mb-4">
  <h2>
    <%= admin_number_display(@quiz_questions.count) %>
    <%= "Questions".pluralize(@quiz_questions) %>
  </h2>
</div>

<%= render partial: "/admin/quizzes/quiz_questions_table", locals: {quiz_questions: @quiz_questions, skip_sortable: true} %>
