<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container mb-4">
  <h1 class="standard-top-offset">
    Edit Quiz
    <small class="less-strong">
      <%= quiz_title_display(@quiz) %></small>
  </h1>
</div>

<%= render partial: "show_header" %>

<div class="large-width-container mt-8">
  <div class="mt-4">
    <%= render partial: "form", locals: {quiz: @quiz} %>
  </div>
</div>

<%= render partial: "show_footer" %>
