<% skip_sortable ||= false %>
<% topics ||= @topics %>
<% skip_ratings_count ||= false %>
<div class="full-screen-table">
  <table class="table table-sm">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "created_at", skip_sortable: skip_sortable %>
        </th>
        <% if render_updated_at? %>
          <th>
            <small><%= sortable "updated_at", skip_sortable: skip_sortable %></small>
          </th>
        <% end %>
        <th>
          <%= sortable "slug", "Name", skip_sortable: skip_sortable %>
        </th>
        <th>
          <small><%= sortable "previous_slug", "Previously", skip_sortable: skip_sortable %></small>
        </th>
        <th>Parents</th>
        <% unless skip_ratings_count %>
          <th>Ratings</th>
        <% end %>
        <th>
          <small>Active</small>
        </th>
      </tr>
    </thead>
    <tbody>
      <% topics.each do |topic| %>
        <tr>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= topic.id %></code><% end %>
            <span class="convertTime"><%= l(topic.created_at, format: :convert_time) %></span>
          </td>
          <% if render_updated_at? %>
            <td>
              <small class="convertTime"><%= l(topic.updated_at, format: :convert_time) %></small>
            </td>
          <% end %>
          <td>
            <%= link_to topic&.name, edit_admin_topic_path(topic.to_param) %>
            <!-- <% if display_dev_info? %><small class="only-dev-visible-small"><%= topic.slug %></small><% end %> -->
          </td>
          <td>
            <small class="less-strong"><%= topic.previous_slug %></small>
          </td>
          <td>
            <small><%= topic.parents_string %></small>
          </td>
          <td>
            <% unless skip_ratings_count %>
              <%= link_to admin_number_display(topic.rating_topics.count), ratings_path(search_topics: [topic.slug]) %>
            <% end %>
          </td>
          <td class="table-cell-check">
            <%= check_mark if topic.active? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
