<h1 class="standard-top-offset mb-4">Edit Topic</h1>
<div class="mb-4"><%# must be div, escapes p tag %>
  <%= button_to "Delete topic", {controller: "topics", action: "destroy", id: @topic.id}, method: :delete, class: "gray-link" %>
</div>

<% rating_count = @topic.rating_topics.count %>
<p class="mb-4">
  <%= link_to ratings_path(search_topics: @topic.slug) do %>
    <%= number_with_delimiter(rating_count) %>
    <%= "rating".pluralize(rating_count) %>
  <% end %>
</p>

<%= render partial: "form", locals: {topic: @topic} %>

<h4 class="standard-top-offset">Direct Children</h4>
<%= render partial: "table", locals: {topics: @topic.direct_children, skip_sortable: false} %>
