<h1 class="standard-top-offset mb-4">Edit Topic</h1>
<% rating_count = @topic.rating_topics.count %>
<p class="mb-4">
  <%= link_to ratings_path(search_topics: @topic.slug) do %>
    <%= admin_number_display(rating_count) %>
    <%= "rating".pluralize(rating_count) %>
  <% end %>
</p>
<% topic ||= @topic %>
<% editing_topic = topic.id.present? %>
<% form_url = editing_topic ? admin_topic_url(topic) : admin_topics_url %>
<%= form_with(model: topic, url: form_url, method: (editing_topic ? :patch : :post), class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: topic, name: "Topic review"} %>
  <%= f.hidden_field :timezone, class: "hiddenFieldTimezone" %>
  <div class="row sm:grid-cols-2">
    <div class="col">
      <div class="form-row">
        <%= f.label :name, "Topic" %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
    </div>
  </div>
  <div class="form-row-btn">
    <%= f.submit "save", class: "btn btn-success" %>
  </div>
<% end %>
