<h1 class="standard-top-offset mb-4">Admin topics</h1>
<p class="mb-4"><%= link_to "New topic", new_admin_topic_path, class: "link-primary" %></p>

<%= form_tag admin_topics_path, method: :get do %>
  <%= render partial: "/shared/hidden_search_fields" %>
  <div class="row sm:grid-cols-2 mb-4">
    <div class="col">
      <div class="form-row">
        <%= label_tag :query %>
        <%= text_field_tag :query, params[:query], class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-row-btn sm:mt-8">
        <%= submit_tag "search", class: "btn" %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "/shared/current_header", locals: {collection: @topics, render_period: true} %>

<%= render partial: "table", locals: {topics: @topics, skip_sortable: false, skip_ratings_count: false} %>
