<h1 class="standard-top-offset mb-4">Admin topics</h1>
<%= render partial: "/shared/current_header", locals: {collection: @topics, render_period_select: true} %>
<% skip_sortable ||= false %>
<div class="full-screen-table">
  <table class="table table-sm">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "created_at", skip_sortable: skip_sortable %>
        </th>
        <th>
          <small><%= sortable "updated_at", skip_sortable: skip_sortable %></small>
        </th>
        <th>
          <%= sortable "name", skip_sortable: skip_sortable %>
        </th>
        <th><small>previously</small></th>
        <th>Reviews</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= topic.id %></code><% end %>
            <%= link_to l(topic.created_at, format: :convert_time), edit_admin_topic_path(topic.to_param), class: "convertTime" %>
          </td>
          <td>
            <small class="convertTime"><%= l(topic.updated_at, format: :convert_time) %></small>
          </td>
          <td>
            <%= topic&.name %>
            <!-- <% if display_dev_info? %><small class="only-dev-visible-small"><%= topic.slug %></small><% end %> -->
          </td>
          <td>
            <small class="less-strong"><%= topic.previous_slug %></small>
            <td>
              <%= link_to admin_number_display(topic.review_topics.count), reviews_path(search_topics: topic.slug) %>
            </td>
            <td class="table-cell-check">
              <%= check_mark if topic.active? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
