<%# objects can be topic_review_citations or ratings or citations %>
<% objects ||= @topic_review_citations %>
<% title ||= "Articles" %>
<% skip_title ||= false %>
<% show_read ||= false %>
<% render_ranking ||= false %>
<% bordered_list ||= false %>
<% list_id ||= nil %>

<% wrapper_class ||= "" %>
<% wrapper_class += bordered_list ? ' citations-list-bordered' : ' citations-list' %>
<% wrapper_class += " ranking-list" if render_ranking %>

<% ranking_modifier ||= 0 %>
<% ranking_count = render_ranking && objects.count  %>

<div class="<%= wrapper_class %>">
  <% unless skip_title %>
    <h3 class="citation-list-title"><%= title %></h3>
  <% end %>
  <ul id="<%= list_id %>" data-rankmodifier="<%= ranking_modifier %>">
    <% objects.each_with_index do |obj, i| %>
      <% citation = obj.is_a?(Citation) ? obj : obj.citation %>
      <li>
        <% if render_ranking %>
          <% rank = ranking_count + ranking_modifier - i %>
          <%= number_field_tag "rank_rating_#{obj.id}", rank, step: 1, class: "form-control rankInput number-field-no-btns w-7 mr-1 border-0 border-b rounded-none bg-transparent border-slate-900 p-0 text-center leading-none" %>
        <% end %>
        <% if display_dev_info? %><code class="only-dev-visible-small"><%= obj.id %></code><% end %>
        <%= citation_display(citation) %>
        <% if show_read && current_user&.rated?(citation) %>
          <small class="less-strong">you already rated</small>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
