<%# NOTE: when you add new search_ params here, also add it to hidden_search_fields %>
<% viewing ||= controller_name.humanize %>
<% current_header_keys = %w[search_topics user_subject] %>
<% header_present ||= (current_header_keys & params.keys).any? %>
<% if header_present %>
  <div>
    <% if current_topics.present? %>
      <p class="mb-2">
        <%= viewing %> for
        <strong><%= current_topics.map(&:name).to_sentence %></strong>
        <small class="less-strong">
          <%= viewing %> for
          <%= link_to "all topics", url_for(sortable_params.merge(search_topics: nil)) %>
        </small>
      </p>
    <% end %>
    <% if user_subject.present? %>
      <p class="mb-2">
        <%= viewing %> for
        <strong><%= user_subject.username %></strong>
        <small class="less-strong">
          <%= viewing %> for
          <%= link_to "all users", url_for(sortable_params.merge(user: nil)) %>
        </small>
      </p>
    <% end %>
  </div>
<% end %>
<% render_period ||= false %>
<% skip_pagination ||= false %>
<% total_count ||= collection.total_count %>
<% if render_period %>
  <%= render partial: "/shared/period_select", locals: {total_count: total_count} %>
<% end %>
<% unless skip_pagination %>
  <div class="row mt-4">
    <%= render partial: "tranzito_utils/pagination", locals: {collection: collection, name: viewing} %>
  </div>
<% end %>
