<%# 
  Note:
  -----
  3 flash types - success, error, and notice
  success - No actionable info. TODO: auto fade
  error   - Messages because you did something wrong. Not faded
  notice  - Messages that don't fit in the above categories. Not faded, may have actionable info
%>
<% if flash.any? %>
  <div class="flash-alerts">
    <% i = 0 %>
    <% flash.each do |type, message| %>
      <% next unless message.present? %>
      <div id="flashMessage-<%= i %>" class="alert alert-<%= type %>" role="alert">
        <div class="alert-message">
          <%= message %>
          <button type="button" data-dismiss-target="#flashMessage-<%= i %>" aria-label="Close" class="alert-close">
            <span class="sr-only">Close</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
          <% if flash[:link].present? %>
            <br />
            link: <%= link_to(flash[:link], flash[:link]) %>
          <% end %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  </div>
<% end %>
