<% ratings ||= @ratings %>
<% skip_sortable ||= false %>

<% render_user ||= false %>
<% hide_private_users ||= false %>
<% shown_private_user_ids = (current_user&.followings_approved_private&.pluck(:id) || []) if render_user && hide_private_users %>

<% render_assign_topic ||= false %>
<% assign_topic ||= @assign_topics&.first %>
<% hide_header ||= false %>

<% render_ranking ||= false %>
<% ranking_modifier ||= 0 %>
<% ranking_count = render_ranking && ratings.count  %>

<% filter_links ||= !render_ranking %>

<% table_classes = "table table-sm table-striped break-words max-w-full" %>
<% table_classes += " toggleChecksWrapper" if render_assign_topic %>
<% table_classes += " hide_header" if hide_header %>

<div class="large-width-container">
  <table class="<%= table_classes %>">
    <thead class="sortable">
      <tr>
        <% if render_assign_topic %>
          <th><input type="checkbox" class="less-strong toggleChecks hiddenNoJs" value="true"></th>
        <% elsif render_ranking %>
          <th>Rank</th>
        <% end %>
        <th class="hidden lg:table-cell">
          <%= sortable "created_at", "Rated", skip_sortable: skip_sortable %>
        </th>
        <% if render_user %>
          <th class="hidden lg:table-cell">
            <%= sortable "user_id", skip_sortable: skip_sortable %>
          </th>
        <% end %>
        <th class="">
          <%= sortable "display_name", "Article", skip_sortable: skip_sortable %>
        </th>
        <th class="hidden lg:table-cell">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% ratings.each_with_index do |rating, i| %>
        <tr>
          <%# special state for no ratings table that still needs to render something %>
          <% if rating.is_a?(String) %>
            <% colspan = 5 %>
            <td><span class="block w-8"></span></td>
            <td><span class="w-3 less-strong">
                <em class="block lg:hidden mt-1 max-w-md"><%= rating %></em>
              </span></td>
            <td class="hidden lg:table-cell max-w-lg lg:max-w-2xl lg:w-rWidth"><em class="less-strong"><%= rating %></em></td>
            <td colspan="<%= colspan %>"></td>
          <% else %>
            <% private_user = render_user && hide_private_users && rating.account_private? %>
            <% show_private_user = private_user && shown_private_user_ids.include?(rating.user_id) %>
            <% if render_assign_topic %>
              <td><%= check_box_tag "rating_id_#{rating.id}", true, rating.has_topic?(assign_topic), class: "toggleableCheck" %></td>
            <% elsif render_ranking %>
              <% rank = ranking_count + ranking_modifier - i %>
              <td class="rank-cell"><%= number_field_tag "rank_rating_#{rating.id}", rank, step: 1, class: "form-control w-8 border-slate-900 p-0 text-center leading-none" %></td>
            <% end %>

            <td class="hidden lg:table-cell">
              <small class="convertTime"><%= l(rating.created_at, format: :convert_time) %></small>
              <% if rating.user_id == current_user&.id %>
                <small class=""><%= link_to "edit", edit_rating_path(rating) %></small>
              <% end %>
            </td>
            <% if render_user %>
              <td class="hidden lg:table-cell less-strong">
                <small>
                  <% if private_user && !show_private_user %>
                    private
                  <% elsif rating.user.blank? %>
                    missing
                  <% else %>
                    <%= link_to rating.user.username, ratings_path(sortable_params.merge(user: rating.user.username_slug)) %>
                  <% end %>
                </small>
              </td>
            <% end %>

            <td class="max-w-lg lg:max-w-2xl lg:w-rWidth">
              <!-- max-w-md maxWScreen -->
              <% if rating.missing_url? || rating.citation.blank? %>
                <%= rating_display(rating) %>
              <% else %>
                <%= render partial: "/shared/citation", locals: {citation: rating.citation} %>
              <% end %>


              <span class="block lg:hidden mt-2">
                <small class="mr-1">Rated <span class="convertTime"><%= l(rating.created_at, format: :convert_time) %></small>
                <% if render_user %>
                  <small class="mr-1">
                    <% if private_user && !show_private_user %>
                      private
                    <% elsif rating.user.blank? %>
                      missing
                    <% else %>
                      <%= link_to rating.user.username, ratings_path(sortable_params.merge(user: rating.user.username_slug)) %>
                    <% end %>
                  </small>
                <% end %>
                <% if rating.user_id == current_user&.id %>
                  <small class="mr-1 less-strong"><%= link_to "edit rating", edit_rating_path(rating) %></small>
                <% end %>
                <span class="">
                  <%= agreement_display(rating.agreement, link: filter_links) %>
                  <%= quality_display(rating.quality, link: filter_links) %>
                  <%= learned_something_display(rating.learned_something?, link: filter_links) %>
                  <%= changed_opinion_display(rating.changed_opinion?, link: filter_links) %>
                  <%= not_understood_display(rating.not_understood?, link: filter_links) %>
                  <%= not_finished_display(rating.not_finished?, link: filter_links) %>
                  <%= significant_factual_error_display(rating.significant_factual_error?, link: filter_links) %>
                </span>
              </span>
            </td>

            <td class="hidden lg:table-cell less-strong">
              <span class="">
                <%= agreement_display(rating.agreement, link: filter_links) %>
                <%= quality_display(rating.quality, link: filter_links) %>
                <%= learned_something_display(rating.learned_something?, link: filter_links) %>
                <%= changed_opinion_display(rating.changed_opinion?, link: filter_links) %>
                <%= not_understood_display(rating.not_understood?, link: filter_links) %>
                <%= not_finished_display(rating.not_finished?, link: filter_links) %>
                <%= significant_factual_error_display(rating.significant_factual_error?, link: filter_links) %>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
