<% ratings ||= @ratings %>
<% skip_sortable ||= false %>
<% edit_ratings ||= false %>
<% render_user ||= false %>
<% hide_private_users ||= false %>
<% render_assign_topic ||= false %>
<% hide_header ||= false %>

<% render_ranking ||= false %>
<% ranking_modifier ||= 0 %>
<% ranking_count = render_ranking && ratings.count  %>

<% table_classes = "table table-sm break-words" %>
<% table_classes += " toggleChecksWrapper" if render_assign_topic %>
<% table_classes += " hide_header" if hide_header %>

<div class="full-screen-table full-screen-table-auto-width">
  <table class="<%= table_classes %>">
    <thead class="sortable">
      <tr>
        <% if render_assign_topic %>
          <th><input type="checkbox" class="less-strong toggleChecks hidden" value="true"></th>
        <% elsif render_ranking %>
          <th>Rank</th>
        <% end %>
        <th>
          <%= sortable "created_at", "Rated", skip_sortable: skip_sortable %>
        </th>
        <% if render_user %>
          <th class="hidden md:table-cell">
            <%= sortable "user_id", skip_sortable: skip_sortable %>
          </th>
        <% end %>
        <th class="hidden md:table-cell">
          Link
        </th>
        <!-- <th class="hidden md:table-cell">Topics</th> -->
        <th class="break-normal text-center border-r">
          <span title="Agreement">A<span class="hidden md:inline">greement</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Quality">Q<span class="hidden md:inline">uality</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Learned something?">L<span class="hidden md:inline">earned <br>
              something?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Changed opinion?">C<span class="hidden md:inline">hanged <br>
              opinion?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Didn't understand?">D<span class="hidden md:inline">idn't <br>
              understand?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Error?">E<span class="hidden md:inline">rror?</span></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% ratings.each_with_index do |rating, i| %>
        <% private_user = render_user && hide_private_users && rating.account_private? %>
        <tr>
          <% if render_assign_topic %>
            <td><%= check_box_tag "rating_id_#{rating.id}", true, rating.has_topic?(@assign_topic), class: "toggleableCheck" %></td>
          <% elsif render_ranking %>
            <% rank = ranking_count + ranking_modifier - i %>
            <td class="rank-cell"><%= number_field_tag "rank_rating_#{rating.id}", rank, step: 1, class: "form-control w-8 border-slate-900 p-0 text-center leading-none" %></td>
          <% end %>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= rating.id %></code><% end %>
            <small class="convertTime"><%= l(rating.created_at, format: :convert_time) %></small>
            <% if edit_ratings %>
              <small class="less-strong"><%= link_to "edit", edit_rating_path(rating) %></small>
            <% end %>
            <% if render_user %>
              <small class="inline md:hidden less-strong">
                <% if private_user %>
                  private
                <% else %>
                  <%= link_to rating.user&.username, ratings_path(sortable_search_params.merge(user: rating.user.username)) %>
                <% end %>
              </small>
            <% end %>
            <span class="block md:hidden mt-1 max-w-md"><%= rating_display_name(rating) %></span>
            <!-- <span class="block md:hidden text-sm"><%= rating.topic_names.join(", ") %></span> -->
          </td>
          <% if render_user %>
            <td class="hidden md:table-cell less-strong">
              <small>
                <% if private_user %>
                  private
                <% else %>
                  <%= link_to rating.user&.username, ratings_path(sortable_search_params.merge(user: rating.user.username)) %>
                <% end %>
              </small>
            </td>
          <% end %>
          <td class="hidden md:table-cell max-w-lg lg:max-w-2xl lg:w-rWidth">
            <%= rating_display_name(rating) %>
          </td>
          <!-- <td class="hidden md:table-cell">
            <%= rating.topic_names.join(", ") %>
          </td> -->
          <td class="text-center border-r">
            <%= agreement_display(rating.agreement) %>
          </td>
          <td class="text-center border-r">
            <%= quality_display(rating.quality) %>
          </td>
          <td class="table-cell-check border-r">
            <%= check_mark if rating.learned_something? %>
          </td>
          <td class="table-cell-check border-r">
            <%= check_mark if rating.changed_my_opinion? %>
          </td>
          <td class="table-cell-check border-r">
            <%= check_mark if rating.significant_factual_error? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
