<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <% search_params_present = (params.keys - %w[user controller action]).any? %>
  <% if @viewing_single_user %>
    <% unless search_params_present %>
      <%= render partial: "/u/user_display", locals: {user: user_subject, render_second_hr: true, only_render_name: search_params_present} %>
    <% end %>
    <div>
      <h1>
        Ratings by <%= user_subject.username %>
        <%# when there are search_params, add something to show that it's you %>
        <% if @viewing_current_user %><small class="less-strong">(you)</small><% end %>
      </h1>
      <% if @ratings_private %>
        <h2 class="mt-4">
          Ratings are private
          <% if @can_view_ratings %>
            <small class="less-strong">
              (they're visible because
              <% if @viewing_current_user %>it's your account<% else %>you follow them<% end %>)
            </small>
          <% end %>
        </h2>
      <% end %>
    </div>
  <% else %>
    <h1>
      <%if viewing_display_name == "following" %>
        Ratings by people you <%= link_to "follow", following_u_path(id: current_user.to_param) %>
      <% else %>
        Recent ratings
      <% end %>
    </h1>
  <% end %>
</div>
<% if @can_view_ratings %>
  <% if @ratings.total_count == 0 %>
    <div class="large-width-container">
      <% if viewing_display_name == "following" %>
        <h4 class="standard-top-offset">No one you follow has visible ratings</h4>
      <% else %>
        <h4 class="standard-top-offset"><%= user_subject.username %> has no ratings</h4>
      <% end %>
    </div>
  <% else %>
    <div class="large-width-container pt-2 px-4" data-controller="ratings-filter" id="ratingsFilter">
      <%= form_tag ratings_path, method: :get, id: "ratingsFilterForm" do %>
        <%= render "/shared/hidden_search_fields" %>
        <%= hidden_field_tag :user, params[:user] %>
        <%= hidden_field_tag :search_assign_topic, params[:search_assign_topic] %>
        <div class="flex gap-3">
          <%= label_tag :user_current_user, class: "form-control-radio flex-initial" do %>
            <%= radio_button_tag :user, "current_user", @viewing_single_user, class: "submitOnChange" %>
            By you
          <% end %>
          <%= label_tag :user_following, class: "form-control-radio flex-initial" do %>
            <%= radio_button_tag :user, "following", viewing_display_name == "following", class: "submitOnChange" %>
            By people you follow
          <% end %>
          <%= label_tag :user_all, class: "form-control-radio flex-initial" do %>
            <%= radio_button_tag :user, "all", !@viewing_single_user && viewing_display_name != "following", class: "submitOnChange" %>
            All users
          <% end %>
        </div>
        <div>
          <%= label_tag :search_quality_high, class: "form-control-check" do %>
            <%= check_box_tag :search_quality_high, true, params[:search_quality_high], class: "submitOnChange" %>
            Only "High quality" ratings
          <% end %>
          <%= label_tag :search_learned_something, class: "form-control-check" do %>
            <%= check_box_tag :search_learned_something, true, params[:search_learned_something], class: "submitOnChange" %>
            Only "Learned Something" ratings
          <% end %>
          <%= label_tag :search_changed_opinion, class: "form-control-check" do %>
            <%= check_box_tag :search_changed_opinion, true, params[:search_changed_opinion], class: "submitOnChange" %>
            Only "Changed my opinion" ratings
          <% end %>
        </div>
        <%= submit_tag "Update ratings", class: "btn mt-2 hiddenOnJs" %>
      <% end %>
    </div>
    <div class="large-width-container">
      <%= render partial: "/shared/current_header", locals: {viewing: "Ratings", collection: @ratings} %>
    </div>
    <% if @assign_topic.present? %>
      <%# duplicating this whole thing is gross, but... HACK HACK HACK %>
      <%= form_tag add_topic_ratings_path(sortable_search_params), method: :post, class: "" do %>
        <%= hidden_field_tag :included_ratings, @ratings.pluck(:id).join(",") %>
        <p class="large-width-container mb-3">
          <%= button_tag type: "submit", class: "btn" do %>
            Mark checked ratings applicable to <%= topic_review_display(@assign_topic, "ml-1") %>
          <% end %>
        </p>
        <%= render partial: "table", locals: {ratings: @ratings, edit_ratings: user_subject == current_user, render_user: !@viewing_single_user, hide_private_users: viewing_display_name == "recent", render_assign_topic: @assign_topic} %>
        <p class="large-width-container mt-2 mb-3">
          <%= button_tag type: "submit", class: "btn" do %>
            Mark checked ratings applicable to <%= topic_review_display(@assign_topic, "ml-1") %>
          <% end %>
        </p>
      <% end %>
    <% else %>
      <%# duplicating this whole thing is gross %>
      <%= render partial: "table", locals: {ratings: @ratings, edit_ratings: user_subject == current_user, render_user: !@viewing_single_user, hide_private_users: viewing_display_name == "recent"} %>
    <% end %>
    <div class="large-width-container">
      <div class="row">
        <%= render partial: "tranzito_utils/pagination", locals: {collection: @ratings, name: "Rating", skip_total: true} %>
      </div>
    </div>
  <% end %>
<% end %>
