<%= turbo_frame_tag :new_rating, class: (@source == "web" ? "" : "no-layout") do %>
  <% if @source == "web" %>
    <%= content_for :main_wrapper_class, "small-width-padded-container" %>
    <h1 class="mb-3">Add Rating</h1>
    <%# manually override to display URL - hidden by default for styles with browser extension %>
    <style>
      #field-group-url {display: block; visibility: visible; opacity: 1;}
    </style>
  <% else %>
    <%# Previously, this was rendered in the extension - but to remove remote code loading, switched out %>
    <%= content_for :main_wrapper_class, "no-container" %>
  <% end %>
  <% if current_user.blank? %>
    <h4 class="pt-4 pb-2">Please <%= link_to "log in", new_user_session_url, target: "_blank" %></h4>
  <% else %>
    <%= render partial: "form", locals: {rating: @rating, render_menu: @source != "web"} %>
  <% end %>
<% end %>
