<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <h1 class="standard-top-offset mb-4">Edit Publisher</h1>
  <%= form_with(model: @publisher, url: admin_publisher_url(@publisher), method: :patch, class: "pb-2") do |f| %>
    <%= render partial: "/shared/errors", locals: {obj: @publisher, name: "Citation"} %>
    <div class="row sm:grid-cols-2">
      <div class="col">
        <div class="form-row">
          <%= f.label :domain %>
          <%= f.text_field :domain, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="col">
        <div class="form-row">
          <%= f.label :base_word_count %>
          <%= f.number_field :base_word_count, min: 0, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row sm:grid-cols-2">
      <div class="col">
        <div class="form-row">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control", required: true %>
        </div>
      </div>
      <div class="col">
        <div class="form-row mt-2 sm:mt-6">
          <%= f.label :remove_query, class: "form-control-check" do %>
            <%= f.check_box :remove_query %>
            Remove query from publisher's URLs
            <% if @publisher.default_remove_query? %>
              <small class="text-success"><strong>True</strong> by default for this domain</small>
            <% end %>
            <small class="less-strong block">e.g. NYTimes adds a bunch of identifier queries. Generally safe to remove from news organizations</small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-row-btn mt-4">
      <%= f.submit "save", class: "btn" %>
    </div>
  <% end %>

  <h2 class="standard-top-offset mb-2">
    <%= admin_number_display(@citations.count) %>
    <%= "Citation".pluralize(@citations.count) %>
  </h2>
</div>

<%= render partial: "/admin/citations/table", locals: {citations: @citations.limit(20), skip_sortable: true} %>
