<h1 class="standard-top-offset mb-4">Admin Publishers</h1>
<%= render partial: "/shared/current_header", locals: {collection: @publishers, render_period: true} %>

<% skip_sortable ||= false %>

<div class="full-screen-table">
  <table class="table table-sm table-striped thead-light">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "created_at", skip_sortable: skip_sortable %>
        </th>
        <% if render_updated_at %>
          <th>
            <small><%= sortable "updated_at", skip_sortable: skip_sortable %></small>
          </th>
        <% end %>
        <th>
          <small><%= sortable "domain", skip_sortable: skip_sortable %></small>
          <th>
            Name <%# skipping sortable to avoid stupid case issues %>
          </th>
          <th>
            <% remove_query_update = defined?(@remove_query) ? !@remove_query : true %>
            <%= link_to url_for(sortable_params.merge(search_remove_query: remove_query_update)) do %>
              Remove Query?
              <% if defined?(@remove_query) %><%= @remove_query ? "✅" : "❌" %><% end %>
            <% end %>
          </th>
          <th>Citations</th>
        </tr>
      </thead>
      <tbody>
        <% @publishers.each do |publisher| %>
          <tr>
            <td>
              <% if display_dev_info? %><code class="only-dev-visible-small"><%= publisher.id %></code><% end %>
              <%= link_to l(publisher.created_at, format: :convert_time), edit_admin_publisher_path(publisher), class: "convertTime" %>
            </td>
            <% if render_updated_at %>
              <td>
                <small class="convertTime"><%= l(publisher.updated_at, format: :convert_time) %></small>
              </td>
            <% end %>
            <td>
              <small><%= publisher.domain %></small>
            </td>
            <td>
              <%= publisher.name %>
            </td>
            <td class="table-cell-check">
              <%= check_mark if publisher.remove_query? %>
            </td>
            <td><%= admin_number_display(publisher.citations.count) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
