<h1 class="standard-top-offset mb-4">Edit User</h1>
<div class="mb-4"><%# must be div, escapes p tag %>
  <%= button_to "Delete user", {controller: "users", action: "destroy", id: @user.id}, method: :delete, class: "gray-link" %>
</div>

<div class="row sm:grid-cols-2">
  <div class="col">
    <table class="table-list">
      <tbody>
        <tr>
          <td>Created</td>
          <td>
            <span class="convertTime"><%= l(@user.created_at, format: :convert_time) %></span>
          </td>
        </tr>
        <tr>
          <td>Updated</td>
          <td>
            <small class="convertTime"><%= l(@user.updated_at, format: :convert_time) %></small>
          </td>
        </tr>
        <tr>
          <td>Ratings</td>
          <td>
            <%= link_to admin_number_display(@user.ratings.count), ratings_path(user: @user.username) %>
          </td>
        </tr>
        <tr>
          <td>Followers</td>
          <td>
            <%= link_to admin_number_display(@user.followers_approved.count), followers_u_path(id: @user.to_param) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="table-list">
      <tbody>
        <tr>
          <td>Private</td>
          <td>
            <%= check_mark if @user.account_private %>
          </td>
        </tr>
        <tr>
          <td>Total Kudos</td>
          <td>
            <%= admin_number_display(@user.total_kudos) %>
          </td>
        </tr>
        <tr>
          <td>Quizzed</td>
          <td>
            <%= link_to admin_number_display(@user.quiz_responses.count), admin_quiz_responses_path(user: @user.username) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= form_with(model: @user, url: admin_user_path(@user), method: :patch, class: "mt-8 pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: @user, name: "User"} %>

  <div class="row sm:grid-cols-2">
    <div class="col">
      <div class="form-row">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", required: true %>
      </div>
    </div>
    <div class="col">
      <div class="form-row">
        <%= f.label :role %>
        <%= f.select :role, User.roles.keys, {required: true}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-row-btn">
    <%= f.submit "save", class: "btn" %>
  </div>
<% end %>
