<% review ||= Review.new %>
<% editing_review = review.id.present? %>
<%# TODO: why does render partial: "/shared/errors" not actually render the errors from turbo_streams? %>
<% if review.errors.any? %>
  <div id="errorMessage" class="alert alert-error mb-4" role="alert">
    <div class="alert-header">
      <div class="flex items-center mr-2">
        <h6>
          <%= pluralize(review.errors.count, "error") %> prevented this Review from being saved
        </h6>
      </div>
    </div>
    <div class="alert-description">
      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%# Need to manually specify the URL and method here because it can't just be the path %>
<% form_url = editing_review ? review_url(review) : reviews_url %>
<%= form_with(model: review, url: form_url, method: (editing_review ? :patch : :post)) do |f| %>
  <% unless editing_review %>
    <%= f.hidden_field :source, class: "form-control" %>
  <% end %>
  <div class="form-row hidden" id="urlFieldGroup">
    <%= f.label :submitted_url, "URL" %>
    <%= f.text_field :submitted_url, placeholder: "URL", disabled: editing_review && review.submitted_url.present?, class: "form-control", autocomplete: "off" %>
  </div>
  <div class="row grid-cols-2 divide-x">
    <div class="col py-1">
      <%= f.label :agreement_agree, class: "reviews-radio-button" do %>
        <%= f.radio_button :agreement, "agree" %>
        Agree
      <% end %>
      <%= f.label :agreement_neutral, class: "reviews-radio-button" do %>
        <%= f.radio_button :agreement, "neutral" %>
        Neutral
      <% end %>
      <%= f.label :agreement_disagree, class: "reviews-radio-button" do %>
        <%= f.radio_button :agreement, "disagree" %>
        Disagree
      <% end %>
    </div>
    <div class="col py-1">
      <%= f.label :quality_quality_high, class: "reviews-radio-button" do %>
        <%= f.radio_button :quality, :quality_high %>
        High Quality
      <% end %>
      <%= f.label :quality_quality_med, class: "reviews-radio-button" do %>
        <%= f.radio_button :quality, :quality_med %>
        Neutral
      <% end %>
      <%= f.label :quality_quality_low, class: "reviews-radio-button" do %>
        <%= f.radio_button :quality, :quality_low %>
        Low Quality
      <% end %>
    </div>
  </div>
  <div class="form-row ">
    <%= f.label :changed_my_opinion, class: "reviews-check" do %>
      <%= f.check_box :changed_my_opinion, class: "form-check-input" %>
      Changed my opinion
    <% end %>
  </div>
  <div class="form-row">
    <%= f.label :significant_factual_error, class: "reviews-check" do %>
      <%= f.check_box :significant_factual_error, class: "form-check-input" %>
      Significant factual error(s)
    <% end %>
  </div>
  <div class="form-row-btn">
    <%= f.submit "save", class: "btn btn-success" %>
  </div>
  <div class="form-row hidden" id="titleFieldGroup">
    <%= f.label :citation_title, "Title" %>
    <%= f.text_field :citation_title, placeholder: review.citation&.title || "optional", class: "form-control", disabled: !review.edit_title? %>
  </div>
  <div class="form-row mt-3 hidden" id="TopicsFieldGroup">
    <%= f.label :topics_text do %>
      Topics
      <small class="less-strong">new line delineated</small>
    <% end %>
    <%= f.text_area :topics_text, placeholder: "optional", class: "form-control" %>
  </div>
<% end %>
