<% reviews ||= reviews %>
<% skip_sortable ||= false %>
<% edit_reviews ||= false %>
<% render_user ||= false %>
<div class="full-screen-table">
  <table class="table table-sm">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "created_at", "Reviewed At", skip_sortable: skip_sortable %>
        </th>
        <% if render_user %>
          <th class="hidden md:table-cell">
            <%= sortable "user_id", skip_sortable: skip_sortable %>
          </th>
        <% end %>
        <th class="hidden md:table-cell">
          Link
        </th>
        <th class="hidden md:table-cell">
          Topics
        </th>
        <th>
          <span title="Agreement">A<span class="hidden md:inline">greement</span></span>
        </th>
        <th>
          <span title="Quality">Q<span class="hidden md:inline">uality</span></span>
        </th>
        <th>
          <span title="Learned something?">L<span class="hidden md:inline">earned something?</span></span>
        </th>
        <th>
          <span title="Changed opinion?">C<span class="hidden md:inline">hanged opinion?</span></span>
        </th>
        <th>
          <span title="Error?">E<span class="hidden md:inline">rror?</span></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= review.id %></code><% end %>
            <small class="convertTime"><%= l(review.created_at, format: :convert_time) %></small>
            <% if edit_reviews %>
              <small class="less-strong"><%= link_to "edit", edit_review_path(review) %></small>
            <% end %>
            <% if render_user %>
              <small class="inline md:hidden"><%= link_to review.user&.username, reviews_path(sortable_search_params.merge(user: review.user.username)) %></small>
            <% end %>
            <span class="block md:hidden mt-1"><%= review_display_name(review) %></span>
            <span class="block md:hidden text-sm"><%= review.topics.join(", ") %></span>
          </td>
          <% if render_user %>
            <td class="hidden md:table-cell">
              <small><%= link_to review.user&.username, reviews_path(sortable_search_params.merge(user: review.user.username)) %></small>
            </td>
          <% end %>
          <td class="hidden md:table-cell">
            <%= review_display_name(review) %>
          </td>
          <td class="hidden md:table-cell">
            <%= review.topics.join(", ") %>
          </td>
          <td>
            <%= agreement_display(review.agreement) %>
          </td>
          <td>
            <%= quality_display(review.quality) %>
          </td>
          <td class="table-cell-check">
            <%= check_mark if review.learned_something? %>
          </td>
          <td class="table-cell-check">
            <%= check_mark if review.changed_my_opinion? %>
          </td>
          <td class="table-cell-check">
            <%= check_mark if review.significant_factual_error? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
