<% reviews ||= reviews %>
<% skip_sortable ||= false %>
<% edit_reviews ||= false %>
<% render_user ||= false %>
<% hide_private_users ||= false %>
<div class="full-screen-table full-screen-table-auto-width">
  <table class="table table-sm break-words">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "created_at", "Reviewed At", skip_sortable: skip_sortable %>
        </th>
        <% if render_user %>
          <th class="hidden md:table-cell">
            <%= sortable "user_id", skip_sortable: skip_sortable %>
          </th>
        <% end %>
        <th class="hidden md:table-cell">
          Link
        </th>
        <!-- <th class="hidden md:table-cell">Topics</th> -->
        <th class="break-normal text-center border-r">
          <span title="Agreement">A<span class="hidden md:inline">greement</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Quality">Q<span class="hidden md:inline">uality</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Learned something?">L<span class="hidden md:inline">earned <br>
              something?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Changed opinion?">C<span class="hidden md:inline">hanged <br>
              opinion?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Didn't understand?">D<span class="hidden md:inline">idn't <br>
              understand?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Error?">E<span class="hidden md:inline">rror?</span></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <% private_user = render_user && hide_private_users && review.account_private? %>
        <tr>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small"><%= review.id %></code><% end %>
            <small class="convertTime"><%= l(review.created_at, format: :convert_time) %></small>
            <% if edit_reviews %>
              <small class="less-strong"><%= link_to "edit", edit_review_path(review) %></small>
            <% end %>
            <% if render_user %>
              <small class="inline md:hidden less-strong">
                <% if private_user %>
                  private
                <% else %>
                  <%= link_to review.user&.username, reviews_path(sortable_search_params.merge(user: review.user.username)) %>
                <% end %>
              </small>
            <% end %>
            <span class="block md:hidden mt-1 max-w-md"><%= review_display_name(review) %></span>
            <!-- <span class="block md:hidden text-sm"><%= review.topics.join(", ") %></span> -->
          </td>
          <% if render_user %>
            <td class="hidden md:table-cell less-strong">
              <small>
                <% if private_user %>
                  private
                <% else %>
                  <%= link_to review.user&.username, reviews_path(sortable_search_params.merge(user: review.user.username)) %>
                <% end %>
              </small>
            </td>
          <% end %>
          <td class="hidden md:table-cell max-w-lg lg:max-w-xl">
            <%= review_display_name(review) %>
          </td>
          <!-- <td class="hidden md:table-cell">
            <%= review.topics.join(", ") %>
          </td> -->
          <td class="text-center border-r">
            <%= agreement_display(review.agreement) %>
          </td>
          <td class="text-center border-r">
            <%= quality_display(review.quality) %>
          </td>
          <td class="table-cell-check border-r">
            <%= check_mark if review.learned_something? %>
          </td>
          <td class="table-cell-check border-r">
            <%= check_mark if review.changed_my_opinion? %>
          </td>
          <td class="table-cell-check border-r">
            <%= check_mark if review.significant_factual_error? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
