<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container standard-top-offset">
<h1 class="mb-4">
    Current review topic is
    <% if @topic_review.present? %>
      <%= topic_review_display(@topic_review) %>
    <% else %>
      <em>no topic! something is broken!</em>
    <% end %>

  </h1>
  <% if @topic_review.present? %>
    <p class="mt-6">Select <%= link_to "articles you've read", ratings_path(user: "current_user", search_assign_topic: @topic_review&.slug) %> for this review.</p>
  <% end %>
</div>
<% if @topic_review.present? && current_user.present? && @topic_review_votes.present? %>
  <div class="large-width-container mt-8">
    <hr>
    <h2 class="mt-6 mb-2">Rank the best articles on <%= topic_review_display(@topic_review) %></h2>
  </div>
  <div class="mb-4"><%= render partial: "/reviews/rank_votes", locals: {topic_review: @topic_review, topic_review_votes: @topic_review_votes} %></div>
<% end %>
