<%= content_for :main_wrapper_class, "padded-container" %>
<div class="large-width-padded-container">
  <% search_params_present = (params.keys - %w[user controller action]).any? %>
  <% if @viewing_single_user %>
    <% unless search_params_present %>
      <%= render partial: "/u/user_display", locals: {user: user_subject, render_second_hr: true, only_render_name: search_params_present} %>
    <% end %>
    <div class="mb-6">
      <h1>Reviews by <%= user_subject.username %></h1>
      <% if @reviews_private %>
        <h2 class="mt-4">
          Reviews are private
          <% if @can_view_reviews %>
            <small class="less-strong">
              (they're visible because
              <% if @viewing_current_user %>it's your account<% else %>you follow them<% end %>)
            </small>
          <% end %>
        </h2>
      <% end %>
    </div>
  <% elsif viewing_display_name == "following" %>
    <h1 class="mt-4 mb-4">Reviews by people you <%= link_to "follow", following_u_path(id: current_user.to_param) %></h1>
  <% else %>
    <h1 class="mt-4 mb-4">
      Recent reviews
    </h1>
    <p class="less-strong mb-4"><em>See reviews by <%= link_to "people you're following", reviews_path(user: "following") %></em></p>
  <% end %>
</div>
<% if @can_view_reviews %>
  <% if @reviews.total_count == 0 %>
    <div class="large-width-padded-container">
      <% if viewing_display_name == "following" %>
        <h4 class="standard-top-offset">No one you follow has visible reviews</h4>
      <% else %>
        <h4 class="standard-top-offset"><%= user_subject.username %> has no reviews</h4>
      <% end %>
    </div>
  <% else %>
    <div class="large-width-padded-container">
      <%#= render partial: "/shared/period_select", locals: {total_count: @reviews.total_count} %>
      <div class="row">
        <%= render partial: "tranzito_utils/pagination", locals: {collection: @reviews, name: "Review"} %>
      </div>
    </div>
    <%= render partial: "table", locals: {reviews: @reviews, edit_reviews: user_subject == current_user, render_user: !@viewing_single_user, hide_private_users: @viewing_display_name == "recent"} %>
    <div class="large-width-padded-container">
      <div class="row">
        <%= render partial: "tranzito_utils/pagination", locals: {collection: @reviews, name: "Review", skip_total: true} %>
      </div>
    </div>
  <% end %>
<% end %>
