%h1
  Reviews

= form_for @review, url: reviews_path(@review), method: :post do |f|
  .row
    = f.text_field :submitted_url, placeholder: "URL", class: "form-control"
  .row
    .col
      = f.label :agreement_disagree, class: "reviews-radio-button" do
        = f.radio_button :agreement, "disagree"
        Disagree
      = f.label :agreement_neutral, class: "reviews-radio-button" do
        = f.radio_button :agreement, "neutral"
        Neutral
      = f.label :agreement_agree, class: "reviews-radio-button" do
        = f.radio_button :agreement, "agree"
        Agree
    .col
      = f.label :quality_quality_low, class: "reviews-radio-button" do
        = f.radio_button :quality, :quality_low
        Low Quality
      = f.label :quality_quality_med, class: "reviews-radio-button" do
        = f.radio_button :quality, :quality_med
        Neutral
      = f.label :quality_quality_high, class: "reviews-radio-button" do
        = f.radio_button :quality, :quality_high
        High Quality
  .row
    = f.label :changed_my_opinion, class: "reviews-check" do
      = f.check_box :changed_my_opinion, class: "form-check-input"
      Changed my opinion
  .row
    = f.label :significant_factual_error, class: "reviews-check" do
      = f.check_box :significant_factual_error, class: "form-check-input"
      Significant factual error

  = f.submit "Apply", class: "btn btn-success"