<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container standard-top-offset">
  <h1 class="mb-4">
    Review of <%= topic_review_display(@topic_review) %>
  </h1>
  <h2 class="mb-4">
    This topic review
    <% if @topic_review.pending? %>
      <% if @topic_review.start_at.present? %>
        is scheduled to start
        <span class="convertTime withPreposition"><%= l(@topic_review.start_at, format: :convert_time) %></span>.
      <% else %>
        is pending and doesn't have a scheduled start
      <% end %>
    <% else %>
      <% if @topic_review.active? %>
        is <strong>active</strong>. Review ends
      <% else %>
        ended
      <% end %>
      <span class="convertTime withPreposition"><%= l(@topic_review.end_at || Time.current + 1.week, format: :convert_time) %></span>.
    <% end %>
  </h2>

  <% if @topic_review.ended? %>
    <div class="max-w-prose standard-top-offset">
      <%= render partial: "/shared/best_citations_list", locals: {topic_review_citations: @topic_review_citations.required, topic_review: @topic_review } %>
    </div>
    <% if @topic_review_citations.constructive.any? %>
      <div class="standard-top-offset">
        <h3>Other recommended articles:</h3>
        <ul class="list-disc pl-5">
          <% @topic_review_citations.constructive.each do |trc| %>
            <li class="py-1 px-2 max-w-prose"><%= citation_display(trc.citation) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%# also add in recommended %>
  <% elsif @topic_review.pending? %>
    <p>Email <a href="mailto:support@convus.org">support@convus.org</a> if you have questions</p>
  <% else %>
    <!-- <p class="mb-4">
      Want help finding articles on <%= @topic_review.topic_name %>? Check out articles other people have
      <%= link_to "rated on this topic", ratings_path(search_topics: @topic_review.slug) %> to get started.
    </p> -->

    <% if @topic_review_citations.recommended.any? %>
      <div class="standard-top-offset">
        <h3>Articles which users have recommended on this topic:</h3>
        <ul class="list-disc pl-5">
          <% @topic_review_citations.recommended.each do |trc| %>
            <li class="py-1 px-2">
              <%= citation_display(trc.citation) %>
              <% if current_user&.rated?(trc.citation) %>
                <small class="less-strong">you already rated</small>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <hr class="mt-8">
    <p class="standard-top-offset">
      <% if current_user.blank? %>
        After you have rated some articles, select
      <% elsif @topic_review_votes.blank? %>
        You haven't marked any ratings applicable to <%= @topic_review.topic_name %> yet. Select
      <% else %>
        Select
      <% end %>
      <%= link_to "your ratings", ratings_path(user: "current_user", search_assign_topics: @topic_review&.slug) %> that apply to this topic and rank them on this page.
    </p>
  <% end %>
</div>

<% if @topic_review.active? && current_user.present? && @topic_review_votes.present? %>
  <% topic_review ||= @topic_review %>
  <% topic_review_votes ||= @topic_review_votes %>
  <%= form_tag review_path(topic_review.slug), method: :patch, class: "" do %>
    <div class="large-width-container standard-top-offset">
      <h3 class="standard-top-offset mb-2">
        The <em>best</em> articles for learning about <%= topic_review_display(@topic_review) %>
      </h3>
    </div>
    <div id="ratingsTableWrap" data-controller="sortable-ratings">
      <% required_ratings = topic_review_votes.required.ratings %>
      <% constructive_ratings = topic_review_votes.constructive.ratings %>
      <% not_recommended_ratings = topic_review_votes.not_recommended.ratings %>
      <% required_ratings = ["No \"Best of\" ratings"] if required_ratings.none? %>
      <%= render partial: "/ratings/table", locals: {ratings: required_ratings, skip_sortable: true, render_ranking: true, ranking_modifier: constructive_ratings.count + TopicReviewVote::RENDERED_OFFSET} %>

      <div class="large-width-container standard-top-offset mb-2">
        <h3>
          Articles you'd recommend, but that aren't required reading
        </h3>
      </div>
      <%= render partial: "/ratings/table", locals: {ratings: constructive_ratings, skip_sortable: true, hide_header: true, render_ranking: true, ranking_modifier: 0} %>
      <div class="large-width-container standard-top-offset mb-2">
        <h3>
          Articles you wouldn't recommend for learning about <%= topic_review_display(@topic_review) %>
          <small class="less-strong">rank with negative number</small>
        </h3>
      </div>
      <%= render partial: "/ratings/table", locals: {ratings: not_recommended_ratings, skip_sortable: true, hide_header: true, render_ranking: true, ranking_modifier: -(not_recommended_ratings.count + 1)} %>
    </div>
    <p class="large-width-container mt-4">
      <%= button_tag "Save ranking", type: "submit", class: "btn" %>
    </p>
  <% end %>
<% end %>
