<% skip_sortable ||= false %>
<% topic_review_citations ||= @topic_review_citations %>

<div class="">
  <table class="table table-sm break-words max-w-full">
    <thead class="sortable">
      <tr>
        <th>
          <%= sortable "vote_score", skip_sortable: skip_sortable %>
        </th>
        <th>Auto score?</th>
        <th>
          <%= sortable "display_name", "Article", skip_sortable: skip_sortable %>
        </th>
        <th>Ratings</th>
        <th><small>Required</small></th>
        <th><small>Constructive</small></th>
        <th><small>Not&nbsp;Rec</small></th>
      </tr>
    </thead>
    <tbody>
      <% topic_review_citations.each do |topic_review_citation| %>
        <tr>
          <td class="text-center">
            <%= link_to edit_admin_topic_review_citation_path(topic_review_citation) do %>
              <%= topic_review_citation.vote_score %> -
              <small><%= topic_review_citation.rank_humanized %></small>
            <% end %>
          </td>
          <td class="table-cell-check">
            <%= check_mark if topic_review_citation.auto_score? %>
          </td>
          <td class="max-w-md">
            <%= citation_display(topic_review_citation.citation, display_name: topic_review_citation.display_name) %>
          </td>
          <td class="text-center border-r">
            <% trv = topic_review_citation.topic_review_votes %>
            <span class="cursor-default" title="<%= trv.usernames.join("\n") %>"><%= admin_number_display(trv.count) %></span>
          </td>
          <td class="text-center border-r">
            <% trv_required = topic_review_citation.topic_review_votes.required %>
            <small class="cursor-default" title="<%= trv_required.usernames.join("\n") %>"><%= admin_number_display(trv_required.count) %></small>
          </td>
          <td class="text-center border-r">
            <% trv_constructive = topic_review_citation.topic_review_votes.constructive %>
            <small class="cursor-default" title="<%= trv_constructive.usernames.join("\n") %>"><%= admin_number_display(trv_constructive.count) %></small>
          </td>
          <td class="text-center">
            <% trv_not_recommended = topic_review_citation.topic_review_votes.not_recommended %>
            <small class="cursor-default" title="<%= trv_not_recommended.usernames.join("\n") %>"><%= admin_number_display(trv_not_recommended.count) %></small>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
