<h1 class="standard-top-offset mb-4">Edit Topic Review Citation</h1>
<h3 class="mb-4">Topic review: <%= link_to @topic_review_citation.topic_name, edit_admin_topic_review_path(@topic_review.to_param) %></h3>
<h3 class="mb-4">Citation: <%= citation_display(@topic_review_citation.citation) %></h3>

<% topic_review ||= @topic_review %>
<% editing_topic_review = topic_review.id.present? %>
<% form_url = editing_topic_review ? admin_topic_review_url(topic_review) : admin_topic_reviews_url %>
<%= form_with(model: @topic_review_citation, url: admin_topic_review_citation_url(@topic_review_citation), method: :patch, class: "pb-2") do |f| %>
  <%= render partial: "/shared/errors", locals: {obj: @topic_review_citation, name: "Topic Review Citation"} %>
  <div class="row sm:grid-cols-2 standard-top-offset">
    <div class="col">
      <div class="form-row">
        <%= f.label :vote_score_manual do %>
          Manual score
          <small class="less-strong">make blank to use auto score</small>
        <% end %>
        <%= f.text_field :vote_score_manual, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-row">
        <label>Calculated vote score</label>
        <input class="form-control" disabled="true" type="text" value="<%= @topic_review_citation.vote_score_calculated %>" name="">
      </div>
    </div>
  </div>
  <div class="form-row-btn">
    <%= f.submit "save", class: "btn" %>
  </div>
<% end %>

<h2 class="standard-top-offset mb-2">
  <%= admin_number_display(@topic_review_votes.count) %>
  <%= "Rating".pluralize(@topic_review_votes.count) %>
</h2>

<%= render partial: "/admin/topic_review_votes/table", locals: {topic_review_votes: @topic_review_votes, skip_article: true} %>
