<% topic_review_votes ||= @topic_review_votes %>
<% render_sortable ||= false %>
<% skip_article ||= false %>

<div class="">
  <table class="table table-sm break-words max-w-full">
    <thead class="sortable">
      <tr>
        <th>Score</th>
        <th><small>Manual?</small></th>
        <th>
          <%= sortable "created_at", "Rated", skip_sortable: !render_sortable %>
        </th>
        <th>
          <%= sortable "user_id", skip_sortable: !render_sortable %>
        </th>
        <% unless skip_article %>
          <td>Article</td>
        <% end %>
        <th class="break-normal text-center border-r">
          <span title="Agreement">A<span class="hidden md:inline">greement</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Quality">Q<span class="hidden md:inline">uality</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Learned something?">L<span class="hidden md:inline">earned <br>
              something?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Changed opinion?">C<span class="hidden md:inline">hanged <br>
              opinion?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Didn't understand?">D<span class="hidden md:inline">idn't <br>
              understand?</span></span>
        </th>
        <th class="break-normal text-center border-r">
          <span title="Error?">E<span class="hidden md:inline">rror?</span></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% topic_review_votes.each do |topic_review_vote| %>
        <% rating = topic_review_vote.rating %>
        <tr>
          <td><%= topic_review_vote.vote_score %></td>
          <td><%= check_mark if topic_review_vote.manual_score? %></td>
          <td>
            <% if display_dev_info? %><code class="only-dev-visible-small ratingId"><%= rating.id %></code><% end %>
            <span class="convertTime"><%= l(rating.created_at, format: :convert_time) %></span>
          </td>
          <td>
            <%= link_to rating.user&.username, edit_admin_topic_review_path(topic_review_vote.topic_review.to_param, sortable_params.merge(user: rating.user.username)) %>
          </td>
          <% unless skip_article %>
            <td class="max-w-md">
              <%= rating_display(rating) %>
            </td>
          <% end %>
          <td class="text-center border-r">
            <%= agreement_display(rating.agreement) %>
          </td>
          <td class="text-center border-r">
            <%= quality_display(rating.quality) %>
          </td>
          <td class="text-center border-r">
            <%= learned_something_display(rating.learned_something?) %>
          </td>
          <td class="text-center border-r">
            <%= changed_opinion_display(rating.changed_opinion?) %>
          </td>
          <td class="text-center border-r">
            <%= not_understood_display(rating.not_understood?) %>
          </td>
          <td class="text-center border-r">
            <%= significant_factual_error_display(rating.significant_factual_error?) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
