<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tranzito_utils-compiled", "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <% if Rails.env.development? %>
      <link href="/favicon-dev.png" rel="icon" sizes="192x192">
      <%= hotwire_livereload_tags %>
    <% else %>
      <link href="/favicon.ico" rel="icon" sizes="192x192">
      <link rel="apple-touch-icon-precomposed apple-touch-icon" href="/apple-touch-icon.png" />
    <% end %>
  </head>
  <body>
    <% if render_navbar? %>
      <nav class="main-navbar">
        <div class="navbar-container container">
          <%= link_to user_root_url, class: "root-link" do %>
            <%= image_tag("icon.png", alt: "Convus Logo") %>
            <span class="">Convus</span>
          <% end %>
          <%= active_link "about", about_path, class: "nav-link mr-auto ml-3" %>
          <% if current_user.present? %>
            <%= active_link current_user.username, reviews_path(user: current_user.username), class: "nav-link" %>
            <span class="ml-1 mr-1 text-gray-400">|</span>
            <%= button_to "logout", destroy_user_session_path, method: "delete", data: {turbo: false}, class: "nav-link"  %>
          <% else %>
            <%= link_to "login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </div>
      </nav>
    <% end %>
    <div class="<%= content_for(:main_wrapper_class) || 'full-width-main-container' %>">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z16M1CGWN8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z16M1CGWN8');
    </script>
  </body>
</html>
